maersk:
  booking:
    api:
      count: 6
      hostname: maersk.com
      protocal: https
      contextPath: api/bookings/checkAvailable

logging:  level:    web: DEBUG
          
spring:
  application:
    name: maersk-container-bookings
  data:    cassandra:      keyspace-name: maersk
      contact-points: localhost      port: 9042
      local-datacenter: datacenter1
      schema-action: CREATE_IF_NOT_EXISTS